# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
/.vscode
# client
/client/node_modules
/client/.env
/client/build

# server
/server/.env
/server/node_modules
/server/build